h1 {
  color: rgb(10, 9, 8);
  justify-content: center;
}
body {
  align-items: center;
  background-color: rgb(218, 121, 121);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div input,
button {
  background-color: rgba(219, 26, 26, 0.596);
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
}
input:focus,
button:focus {
  outline: none;
}
#table,
#tablesearch {
  border: 3px solid brown;
  padding: 2px;
  text-align: center;
  width: 1350px;
}
#table tr th,
#tablesearch tr th {
  border: 3px solid brown;
  margin: 30px;
}
/* label {
    align-self: center;
    display: flex;
    font-weight: bolder;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 0px;
    padding: 3px;
    width: 350px;
  } */
label {
  align-self: center;
  display: flex;
  font-weight: bolder;
  text-align: right;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 3px;
  width: 350px;
}

.form {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
/* .field {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
} */
#search {
  margin-bottom: 40px;
  margin-top: 10px;
  text-align: center;
}
#find {
  height: 20px;
  width: 250px;
}
#submit {
  background-color: rgba(219, 26, 26, 0.596);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
